version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: backend
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  cloudflared:
    build:
      context: ./cloudflared
    container_name: cloudflared
    restart: unless-stopped
    depends_on:
      - frontend
      - backend
    volumes:
      - ./cloudflared:/etc/cloudflared